/* Author : Ananthu A S */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span {
    color: #000;
    font-weight: 700;
}
p {
    font-size: small;
    color: #7e7474;
}
.bg-clr {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
}
/* intro start */
.logo img {
    width: 30px;
}
/* intro end */
/* portfolio start */
.port_ht {
    min-height: 60vh;
}
/* portfolio end */
/* contact me start */
.btn_clr {
    background-color: #fc7300;
    color: #eeeeee;
}
/* contact me end */
